{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}


{% block stylesheets %}

<style>

    h1 {
        font-size: 54px;
        color: green !important;
    }
    .products {
        display: flex;
        gap: 40px;
        list-style: none;
        padding: 0;
    }
    .products li {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .products li img {
        width: 150px;
    }


</style>

{% endblock %}

{% block body %}
    <section>
        <h1>Produits</h1>
        <p>Découvrez notre sélection de smartphone.</p>

        <div>
            <ul class="products">
                {% for product in products %}
                    <li>
                        <img class="img-fluid" src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.image }}"> <br>
                        Nom : {{ product.name }} <br>
                        Prix : {{ product.price }} <br>
                        Marque : {{ product.brand }} <br>
                        Modèle : {{ product.model }} <br>
                    </li>
                {% endfor %}
            </ul>
        </div>



    </section>

{% endblock %}

